
HttpUtil/bin/Debug/HttpUtil.exe
HttpUtil/bin/Debug/HttpUtil.exe
HttpUtil/bin/Debug/HttpUtil.exe.config
HttpUtil/bin/Debug/HttpUtil.pdb
HttpUtil/obj/Debug/CoreCompileInputs.cache
HttpUtil/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HttpUtil/obj/Debug/HttpUtil.csprojResolveAssemblyReference.cache
HttpUtil/obj/Debug/HttpUtil.exe
HttpUtil/obj/Debug/HttpUtil.pdb
